/*版心*/
.w {
  width: 1190px;
  margin: auto;
}

/*左浮动*/
.fr {
  float: right;
}

/*右浮动*/
.fl {
  float: left;
}

.style-red {
  color: #f10215!important;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

input, button {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

.clearfix:before,.clearfix:after { 
  content:"";
  display: table;
}

.clearfix:after {
  clear:both;
}

.clearfix {
  *zoom:1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F6F6F6;
}